.hero {
  display: flex;
  align-items: center;
  gap: 35px;
  flex-direction: column;
  position: relative;
}

.shining__light {
  border: transparent;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 220px 220px rgba(116, 146, 231, 0.11);
}

.hero img {
  margin-top: 150px;
}

.hero h1 {
  text-align: center;
  font-weight: 600;
  width: 70%;
  font-size: 90px;
}

.anchor__link {
  text-decoration: none;
  color: #fff;
}

.hero span {
  background: linear-gradient(270deg, #8576ff 10%, #1d1492 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 50%;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
}

.hero__action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 50px;
}

.hero__communicate {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(264deg, #8576ff -5.09%, #1c1678 106.08%);
  cursor: pointer;
  box-shadow: 10px 8px 8px 0 rgba(0, 0, 0, 0.9);
}

.hero__resume {
  border-radius: 50px;
  padding: 25px 75px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.9);
}

.hero__resume:hover {
  background: #fff;
  color: black;
  transition: background 0.5s ease;
  animation: glowWhite 1.5s infinite alternate;
}

.hero__resume:active {
  background: #fff;
  color: black;
  transition: background 0.5s ease;
}

.hero__resume:not(:hover) {
  background: none;
}

/* ANIMATION OF BUTTONS */

@keyframes glowAnim {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 40px 40px rgba(0, 123, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

@keyframes glowWhite {
  0% {
    box-shadow: 0 0 0 0 rgba(250, 250, 250, 0.7);
  }
  50% {
    box-shadow: 0 0 40px 40px rgba(157, 185, 214, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(142, 172, 204, 0);
  }
}

.hero__communicate:hover {
  animation: glowAnim 1s infinite alternate;
}

.hero__communicate:active {
  animation: glowAnim 1s infinite alternate;
}

/* RESPONSIVENESS FOR MEDIUM AND SMALL DEVICES  */

@media (min-width: 1171px) and (max-width: 1300px) {
  .hero {
    gap: 30px;
  }

  .shining__light {
    box-shadow: 0 0 200px 200px rgba(116, 146, 231, 0.11);
  }

  .hero img {
    margin-top: 140px;
  }

  .hero h1 {
    font-weight: 600;
    width: 70%;
    font-size: 80px;
  }

  .hero p {
    width: 45%;
    line-height: 35px;
    font-size: 18px;
  }

  .hero__action {
    gap: 20px;
    font-size: 18px;
    margin-bottom: 45px;
  }

  .hero__communicate {
    padding: 20px 40px;
  }

  .hero__resume {
    border-radius: 50px;
    padding: 20px 55px;
  }
}

@media (max-width: 768px) {
  .hero img {
    margin-top: 120px;
    width: 260px;
  }

  .shining__light {
    box-shadow: 0 0 150px 150px rgba(116, 146, 231, 0.11);
  }

  .hero h1 {
    margin-top: 50px;
    width: 90%;
    font-size: 50px;
  }

  .hero p {
    width: 60%;
    line-height: 32px;
    font-size: 18px;
    margin: 10px 0;
  }

  .hero__action {
    margin-bottom: 50px;
    font-size: 18px;
    gap: 16px;
    font-weight: 500;
  }

  .hero__communicate {
    padding: 20px 30px;
    border-radius: 40px;
  }

  .hero__resume {
    padding: 20px 35px;
    border-radius: 40px;
  }

  .hero__resume:active {
    background: #fff;
    color: black;
    transition: background 0.5s ease;
  }

  .hero__communicate:active {
    animation: glowAnim 1s infinite alternate;
  }
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 43px;
  }

  .hero img {
    margin-top: 110px;
    width: 240px;
  }

  .hero p {
    width: 60%;
    line-height: 30px;
    font-size: 16px;
    margin: 8px 0;
  }

  .hero__action {
    margin-bottom: 45px;
    font-size: 16px;
    gap: 14px;
    font-weight: 500;
  }

  .hero__communicate {
    padding: 20px 24px;
  }

  .hero__resume {
    padding: 18px 45px;
  }

  .hero__resume:active {
    background: #fff;
    color: black;
    transition: background 0.5s ease;
    animation: glowWhite 1.5s infinite alternate;
  }

  .hero__communicate:active {
    animation: glowAnim 1s infinite alternate;
  }
}
