.mywork {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 80px 170px;
  gap: 80px;
}

.mywork__title {
  position: relative;
}

.mywork__title h1 {
  padding: 0 30px;
  font-weight: 600;
  font-size: 80px;
}

.mywork__title img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.mywork__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.mywork__container img {
  box-sizing: border-box;
  height: 280px;
  width: 419px;
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
}

.mywork__container img:hover {
  transform: scale(1.1);
  border: 4px solid #8576ff;
  border-radius: 5px;
}

.mywork__showmore {
  display: flex;
  border-radius: 50px;
  gap: 15px;
  border: 2px solid #fff;
  font-size: 22px;
  padding: 30px 60px;
  font-weight: 500;
  margin-bottom: 80px;
  cursor: pointer;
  transition: 0.6s;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.9);
}

.mywork__showmore:hover {
  gap: 35px;
}

/* RESPONSIVENESS FOR MEDIUM AND SMALL DEVICES  */

@media (min-width: 1171px) and (max-width: 1366px) {
  .mywork__container {
    gap: 40px;
  }

  .mywork {
    margin: 70px 180px;
  }

  .mywork__container img {
    height: 237px;
    width: 350px;
    cursor: pointer;
    border-radius: 10px;
  }

  .mywork__title h1 {
    font-size: 70px;
  }

  .mywork__title img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

@media (max-width: 1170px) {
  .mywork__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 936px) {
  .mywork {
    gap: 50px;
    align-items: start;
    margin: 50px 70px;
  }

  .mywork__title h1 {
    font-size: 40px;
    padding: 0;
    font-weight: 600;
  }

  .mywork__title {
    margin-left: 17%;
  }

  .mywork__title img {
    margin-right: -20px;
    width: 130px;
  }

  .mywork__container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .mywork__container img {
    height: 100%;
    width: 100%;
  }

  .mywork__showmore {
    font-size: 18px;
    padding: 20px 40px;
    margin: 40px auto;
  }
}

@media (max-width: 600px) {
  .mywork__title h1 {
    font-size: 40px;
  }

  .mywork__title {
    margin-left: 11%;
  }

  .mywork__title img {
    margin-right: -20px;
    width: 130px;
  }

  .mywork__container {
    grid-template-columns: 1fr;
  }

  .mywork__showmore {
    font-size: 14px;
    margin-top: -5px;
  }

  .mywork__container img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }

  .mywork__showmore img {
    width: 25px;
  }
}

@media (max-width: 405px) {
  .mywork__title {
    text-align: center;
  }

  .mywork__title {
    margin-left: 0;
  }
}
