.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 100px;
  border-radius: 50px;
  z-index: 3;
}

.nav__menu {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 43px;
}

.nav__bg {
  background-color: rgba(4, 70, 192, 0.5);
  position: fixed;
  gap: 60px;
}

.anchor__link {
  text-decoration: none;
  color: #fff;
}

.nav__menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.nav__menu li:hover {
  transform: scale(1.1);
}

.nav__menu li img {
  display: flex;
  margin: auto;
}

.communicate__me {
  border-radius: 50px;
  padding: 20px 40px;
  background: linear-gradient(267deg, #8576ff 0.36%, #1c1678 102.06%);
  cursor: pointer;
  font-size: 22px;
  transition: 0.4s;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.9);
}

.communicate__border {
  border: 2px solid #1c1678;
}

.communicate__me:hover {
  animation: glowAnim 1s infinite alternate;
}

.nav__menu__close {
  display: none;
}

.nav__menu__open {
  display: none;
}

/* ANIMATIONS FOR BUTTONS  */

@keyframes glowAnim {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 40px 40px rgba(0, 123, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

/* RESPONSIVENESS FOR MEDIUM AND SMALL DEVICES  */

@media (max-width: 936px) {
  .navbar {
    margin: 20px 50px;
  }

  .communicate__me {
    display: none;
  }

  .nav__menu__open {
    display: block;
    position: fixed;
    right: 30px;
    cursor: pointer;
  }

  .nav__menu__close {
    display: block;
    position: relative;
    top: 30px;
    left: 210px;
    width: 30px;
    cursor: pointer;
  }

  .nav__menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 50px;
    background-color: rgba(4, 70, 192, 0.7);
    height: 100%;
    width: 270px;
    transition: right 0.5s;
    z-index: 2;
    right: -270px;
  }

  .nav__menu li {
    font-size: 27px;
    padding-left: 30px;
    flex-direction: row;
    gap: 20px;
  }
}

@media (max-width: 1038px) {
  .navbar {
    margin: 17px 60px;
  }

  .nav__bg {
    gap: 40px;
  }
}

@media (max-width: 1200px) {
  .nav__menu .contact__me {
    display: none;
  }
}
