.footer {
  display: flex;
  margin: 50px 170px;
  gap: 30px;
  flex-direction: column;
}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__top__left p {
  max-width: 400px;
  font-size: 20px;
}

.footer__top__right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer__img__box {
  width: 40px;
}

.footer__img__box img {
  width: 100%;
}

.discord__box {
  width: 80px;
}

.footer__email__input {
  display: flex;
  padding: 20px 30px;
  gap: 30px;
  border-radius: 50px;
  background: #32323b;
  padding-right: 80px;
}

.footer__email__input input {
  border: none;
  outline: none;
  background: transparent;
  font-family: Outfit;
  font-size: 18px;
  color: #a0a0a0;
}

.subscribe__btn {
  background: linear-gradient(264deg, #8576ff -5.09%, #1c1678 106.08%);
  font-size: 20px;
  padding: 22px 50px;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.footer__bottom__right {
  display: flex;
  margin-bottom: 50px;
  gap: 50px;
}

.footer__email__input:hover {
  border: 2px solid #fff;
}

.subscribe__btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.footer__top__right a {
  text-decoration: none;
  background: transparent;
}

.footer__top__right .img__glow:hover {
  animation: glowAnim 1.5s infinite alternate;
  border-radius: 50%;
}

.footer__top__right .img__glow:hover {
  animation: glowAnim 1.5s infinite alternate;
  border-radius: 50%;
}

.footer__top__right .img__glow:hover {
  animation: glowAnim 1.5s infinite alternate;
  border-radius: 50%;
}

.footer__top__right .git__glow:hover {
  animation: glowWhite 1.5s infinite alternate;
  border-radius: 50%;
}

/* ANIMATION OF BUTTONS */

@keyframes glowAnim {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 40px 40px rgba(0, 123, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

@keyframes glowWhite {
  0% {
    box-shadow: 0 0 0 0 rgba(250, 250, 250, 0.7);
  }
  50% {
    box-shadow: 0 0 40px 40px rgba(157, 185, 214, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(142, 172, 204, 0);
  }
}

/* RESPONSIVENESS FOR MEDIUM AND SMALL DEVICES  */

@media (min-width: 1171px) and (max-width: 1366px) {
  .footer {
    margin: 50px 90px;
    gap: 90px;
  }
}

@media (max-width: 1366px) {
  .footer {
    margin: 1rem 4.5rem;
    gap: 90px;
  }
}

@media (max-width: 1170px) {
  .footer {
    margin: 1.2rem 9.5rem;
  }

  .footer__top {
    gap: 90px;
  }
}

@media (max-width: 936px) {
  .footer {
    margin: 50px 70px;
  }

  .footer__top {
    flex-direction: column;
    gap: 50px;
  }

  .footer__bottom {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  .footer {
    margin: 50px 50px;
  }

  .footer__top {
    flex-direction: column;
    gap: 45px;
  }

  .subscribe__btn {
    margin-top: 15px;
    font-size: 18px;
    padding: 14px 50px;
  }

  .footer__logo {
    width: 180px;
  }

  .footer__bottom__right {
    gap: 30px;
  }
}
